{% extends "base.html" %}
{% load django_tables2 %}
{% block header %}
    <h1> {{ object.name }} </h1>
    <span> Game: <b>{{ object.rule.game }}</b>, managed by <a
            href="https://t.me/{{ object.owner.username }}">{{ object.owner }}</a></span>
{% endblock %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'site:home' %}">Home</a></li>
        <li class="breadcrumb-item"><a href="{% url 'site:league-list' %}">Leagues</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'site:league-detail' object.label %}">{{ object.name }}</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-md-7">
            <h4><a href="#">Leaderboard</a></h4>
            {% render_table tables.0 %}
        </div>
        <div class="offset-md-1 col-md-4">
            <h4><a href="#">Rounds</a></h4>
            {% render_table tables.2 %}
        </div>
    </div>
    <br>
    <h4><a href="#">Events</a></h4>
    {% render_table tables.1 %}
{% endblock %}
