{% extends "base.html" %}
{% load django_tables2 %}
{% load bootstrap4 %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'site:home' %}">Home</a></li>
        <li class="breadcrumb-item active"><a href="{% url 'site:league-list' %}">Leagues</a></li>
    </ol>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h4>Leagues</h4>
            {% render_table table %}
        </div>
        <div class="col-sm-3">
            <form action="" method="get" class="form">
                {% bootstrap_form filter.form show_label=True%}
                {% bootstrap_button 'Apply'  button_type="submit" size="md" %}
            </form>
        </div>

    </div>
{% endblock %}
