{% extends "base.html" %}
{% load django_tables2 %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-sm-9">
            <h4>Leagues</h4>
            {% render_table table %}
        </div>
        <div class="col-sm-3">
            <form action="" method="get" class="form">
                {% bootstrap_form filter.form show_label=True%}
                {% bootstrap_button 'Apply'  button_type="submit" size="md" %}
            </form>
        </div>

    </div>
{% endblock %}
