body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

footer {
    padding-top: 10px;
    margin-top: auto;
    background-color: #e9ecef;
}

.jumbotron {
    padding: 20px;
}

td.icon {
    vertical-align: middle;
}
